<app-header></app-header>

<div class="container">
  <div class="row mt-5 border border-dark">
    <div class="col-3  ">
      <img src="https://home.ripley.cl/store/Attachment/WOP/D113/2000372107060/2000372107060_2.jpg" alt="">
    </div>
    <div class="col-6">
      <h2>Acer</h2>
      <h2>Notebook 15.6'' Core i5 4GB 1TB LED</h2>
      <h4>S/ 1,599 C/U</h4>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-danger">AGREGAR A CARRITO</button>
    </div>
  </div>
  <div class="row mt-5 border border-dark">
      <div class="col-3  ">
        <img src="https://home.ripley.cl/store/Attachment/WOP/D113/2000372107060/2000372107060_2.jpg" alt="">
      </div>
      <div class="col-6">
        <h2>Acer</h2>
        <h2>Notebook 15.6'' Core i5 4GB 1TB LED</h2>
        <h4>S/ 1,599 C/U</h4>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-danger">AGREGAR A CARRITO</button>
      </div>
    </div>
</div>