<app-header></app-header>
<div class="container">
    <div class="row mt-5 border border-dark">
      <div class="col-3  ">
        <img src="https://www.lg.com/mx/images/celulares/md05868695/gallery/LGM700H_Gold_D1_18817.jpg" alt="">
      </div>
      <div class="col-6">
        <h2>LG</h2>
        <h2>Smartphone LG Q6 PRIME</h2>
        <h4>S/ 1,199 C/U</h4>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-danger">AGREGAR A CARRITO</button>
      </div>
    </div>
    <div class="row mt-5 border border-dark">
        <div class="col-3  ">
          <img src="https://falabella.scene7.com/is/image/FalabellaPE/16251945_1?$producto308$&wid=472&hei=472" alt="">
        </div>
        <div class="col-6">
          <h2>APPLE</h2>
          <h2>iPad WI-Fi 32 GB Silver 6ta Generación</h2>
          <h4>S/ 1,699 C/U</h4>
          

        </div>
        <div class="col-3">
            <button type="button" class="btn btn-danger">AGREGAR A CARRITO</button>
        </div>
      </div>
  </div>